CHECKPOINT_POSTGRES_DSN=aws-sm://arn:aws:secretsmanager:us-east-1:021490342184:secret:alpha/checkpoint-postgres
BASE_RELAYER_PRIVATE_KEYS=aws-sm://arn:aws:secretsmanager:us-east-1:021490342184:secret:alpha/op1/base-relayer-keys
BASE_RELAYER_AUTH_TOKEN=aws-sm://arn:aws:secretsmanager:us-east-1:021490342184:secret:alpha/op1/base-relayer-auth
BASE_RELAYER_TLS_CERT_PEM_B64=aws-sm://arn:aws:secretsmanager:us-east-1:021490342184:secret:alpha/op1/base-relayer-tls-cert-b64
BASE_RELAYER_TLS_KEY_PEM_B64=aws-sm://arn:aws:secretsmanager:us-east-1:021490342184:secret:alpha/op1/base-relayer-tls-key-b64
JUNO_RPC_USER=literal:testuser
JUNO_RPC_PASS=file:/secure/local/juno-rpc-pass.txt
JUNO_SCAN_BEARER_TOKEN=env:JUNO_SCAN_BEARER_TOKEN
